label
{
    display: block;
    color: rgb(7, 161, 223);

}

.form input
{
    border: none;
    outline: none;
    width: 100%;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.289);
    background-color: transparent;
    color: black;
}
