label
{
    display: block;
    color: rgb(8, 179, 247);

}

.form input
{
    border: none;
    outline: none;
    width: 100%;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.37);
    background-color: transparent;
}

.form button:focus
{
    transform: translateX(1.009);
}